{% extends 'base.html' %}
{% load static %}
{% block titulo %}Noticias{% endblock titulo %}
{% block contenido %}
    <h2>aca estan mis noticias !</h2>
    <div class="submenu">
        <a href="{% url 'noticias:listar'%}">TODAS</a>
        {% for cat in categorias %}
            <a href="?id={{cat.pk}}">{{cat.nombre}}</a>
        {% endfor %}
        <a href="?antiguedad_asc=A">Mas antiguas primero</a>
        <a href="?antiguedad_desc=D">Mas recientes primero</a>
        <a href="?orden_asc=1">A - Z</a>
        <a href="?orden_desc=1">Z - A</a>
    </div>
    {% for noticia in noticias %}
        <h3><a href="{% url 'noticias:detalle' noticia.pk %}">Titulo: {{noticia.titulo}}</a></h3>
        <img src="{{noticia.imagenes.url}}" width="10%">
        <br>
    {% endfor %}

{% endblock contenido %}